<div ng-repeat="found in list.items" ng-if='!list.error'>
        <div class="col-sm-6 col-md-3">
            <h1>{{found.short_name}}</h1>
            <p>{{found.description}}</p>
            <button ng-click="list.onRemove({index: $index})" class="btn btn-danger">Don't want this one</button>
        </div>
    </div>
<div ng-if='list.error' class='error'>Nothing found</div>
<!--
<ol ng-if='!list.showError'>
  <li ng-repeat="item in list.items " >
    <div class='name'> name: {{item.name}} short name: {{item.short_name}} </div>
    <div class='description'>{{item.description}}</div>
    <button ng-click="list.onRemove({index: $index});">Remove Item</button>
  </li>
</ol>
<div ng-if='list.showError' class='error'>Nothing found</div>-->
